# Modal Secret: aej-dbt-bq
GCP_PROJECT_ID=analytics-engineering-jobs
SERVICE_ACCOUNT_JSON={"type":"service_account", "...":"..."}
GCS_BUCKET_NAME=your_globally_unique_bucket_name

# Modal Secret: aej-dbt-healthchecks
HEALTHCHECKS_PING_URL=https://hc-ping.com/<check-uuid>
